################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScolptioCRMWebService/Command/bin/Debug/netcoreapp3.1
/ScolptioCRMWebService/.vs
/ScolptioCRMWebService/.vs/ScolptioCRMWebService
/ScolptioCRMWebService/Command/obj
/ScolptioCRMWebService/CommandHandler/bin/Debug/netcoreapp3.1
/ScolptioCRMWebService/CommandHandler/obj
/ScolptioCRMWebService/Domain/bin/Debug/netcoreapp3.1
/ScolptioCRMWebService/Domain/obj
/ScolptioCRMWebService/Infruscture/bin/Debug/netcoreapp3.1
/ScolptioCRMWebService/Infruscture/obj
/ScolptioCRMWebService/ScolptioCRMWebService/bin/Debug/netcoreapp3.1
/ScolptioCRMWebService/ScolptioCRMWebService/obj
/ScolptioCRMWebService/ScolptioCRMWebService/bin/Debug/net5.0
/ScolptioCRMWebService/Infruscture/bin/Debug/net5.0
/ScolptioCRMWebService/Domain/bin/Debug/net5.0
/ScolptioCRMWebService/CommandHandler/bin/Debug/net5.0
/ScolptioCRMWebService/Command/bin/Debug/net5.0
/ScolptioCRMWebService/.vs/PropertyHatchWebService/v16/.suo
/ScolptioCRMWebService/.vs/PropertyHatchWebService/v16/.suo
/ScolptioCRMWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/ScolptioCRMWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/ScolptioCRMWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/ScolptioCRMWebService/.vs/PropertyHatchWebService/v16/.suo
/ScolptioCRMWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/ScolptioCRMWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/ScolptioCRMWebService/LandhubMailer
