################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LandHubWebService/Command/bin/Debug/netcoreapp3.1
/LandHubWebService/.vs
/LandHubWebService/.vs/LandHubWebService
/LandHubWebService/Command/obj
/LandHubWebService/CommandHandler/bin/Debug/netcoreapp3.1
/LandHubWebService/CommandHandler/obj
/LandHubWebService/Domain/bin/Debug/netcoreapp3.1
/LandHubWebService/Domain/obj
/LandHubWebService/Infruscture/bin/Debug/netcoreapp3.1
/LandHubWebService/Infruscture/obj
/LandHubWebService/LandHubWebService/bin/Debug/netcoreapp3.1
/LandHubWebService/LandHubWebService/obj
/LandHubWebService/LandHubWebService/bin/Debug/net5.0
/LandHubWebService/Infruscture/bin/Debug/net5.0
/LandHubWebService/Domain/bin/Debug/net5.0
/LandHubWebService/CommandHandler/bin/Debug/net5.0
/LandHubWebService/Command/bin/Debug/net5.0
/LandHubWebService/.vs/PropertyHatchWebService/v16/.suo
/LandHubWebService/.vs/PropertyHatchWebService/v16/.suo
/LandHubWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/LandHubWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/LandHubWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/LandHubWebService/.vs/PropertyHatchWebService/v16/.suo
/LandHubWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/LandHubWebService/.vs/PropertyHatchWebService/DesignTimeBuild/.dtbcache.v2
/LandHubWebService/LandhubMailer
