<p>&#171;Your CompanyName&#187;</p>
<p>&#171;Your Company Address&#187;</p>
<p>&#171;Your Company Email&#187;</p>
<p>&#171;Your Company Phone&#187;</p>
<p>&#171;Your company Fax&#187;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&#171;OwnerName_Formatted&#187;&nbsp;</p>
<p>&nbsp;&#171;MailAddress&#187; ,&#171;MUnitType&#187; &#171;MUnitNumber&#187;&nbsp;</p>
<p>&nbsp;&#171;MCity&#187;, &#171;MState&#187; &#171;MZip&#187;&nbsp;</p>
<p>&nbsp;</p>
<p>RE:&nbsp;Property (APN) &#171;Property APN&#187;, and any others you may own.</p>
<p>&nbsp;</p>
<p>Dear &#171;OwnerName_Formatted&#187;:</p>
<p>&nbsp;</p>
<p class="ql-align-justify">I am writing to you because public records show you as the owner of real property in&nbsp;&#171;MCounty&#187;, &#171;MState&#187;.&nbsp;I am very interested in purchasing this property from you. </p>
<p class="ql-align-justify">&nbsp;</p>
<p class="ql-align-justify">If you are considering selling your property, I can offer you a fast, trouble-free sale, as well as a fair price and immediate cash.&nbsp;Of course, I will pay all the fees.</p>
<p class="ql-align-justify">&nbsp;</p>
<p class="ql-align-justify">We are a Real Estate Investment company looking to buy some raw land in your area for long term investment purposes.&nbsp;We have many highly satisfied customers who were glad to have cash rather than the burden of property ownership. Many of these customers had plans for their property when they initially purchased it, but with time these plans changed. Therefore, if you would like to have some money in exchange for your property, please call me or complete the form on the website.&nbsp;I look forward to hearing from you.</p>
<p class="ql-align-justify">&nbsp;</p>
<p class="ql-align-justify">If you prefer contacting us online, please visit <u>www.fantlandgroup.com</u>&nbsp;and submit your property information through our webpage (by clicking on “SELL YOUR LOT”)</p>
<p>&nbsp;</p>
<p>Sincerely,</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&#171;Your Name&#187;</p>
<p><span style="color: rgb(0, 0, 0);">&#171;Your CompanyName&#187;</span></p>
<p>&#171;Your title&#187;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>PS:&nbsp;You can reach us at &#171;Your Company Email&#187;.&nbsp;Our office is open Monday to Friday from 8:00 AM to 5:00 PM Central Time. Again, for faster service, please complete the “SELL YOUR LOT” form on &#171;Your CompanyName&#187;</p>