
    <p class="ql-align-right">&nbsp;&#171;Your CompanyName&#187;&nbsp;</p>
    <p class="ql-align-right">&nbsp;&#171;Your Company Address&#187;&nbsp;</p>
    <p class="ql-align-right">&nbsp;&#171;Your Company Email&#187;&nbsp;</p>
    <p class="ql-align-right">&nbsp;&#171;Your Company Phone&#187;&nbsp;</p>
    <p class="ql-align-right">&nbsp;&#171;Your company Fax&#187;&nbsp;</p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p>&nbsp;&#171;OwnerName_Formatted&#187;&nbsp;</p>
    <p>&nbsp;&#171;MailAddress&#187; ,&#171;MUnitType&#187; &#171;MUnitNumber&#187;&nbsp;</p>
    <p>&nbsp;&#171;MCity&#187;, &#171;MState&#187; &#171;MZip&#187;&nbsp;</p>
    <p><br></p>
    <p><br></p>
    <p>&nbsp;Dear &#171;OwnerName_Formatted&#187;:&nbsp;</p>
    <p><br></p>
    <p>
        &nbsp;First, let me thank you for responding to our letter and contacting us regarding your property in Kleberg
        County,&nbsp;NC&nbsp;
    </p>
    <p><br></p>
    <p><br></p>
    <p>
        &nbsp;After doing research and analyzing the specific characteristics (i.e. location, size, access, utilities
        availability,&nbsp;improvements, etc.) of your property, I am willing to offer you the following:&nbsp;
    </p>
    <p><br></p>
    <p><strong>&nbsp;Net Amount paid to Seller :</strong>&nbsp;<strong>$ 13,217&nbsp;</strong></p>
    <p>&nbsp;Outstanding Back Taxes:&nbsp;<strong>$&nbsp;0</strong></p>
    <p>&nbsp;Buyer estimated total cost of Purchase&nbsp;: <strong>$&nbsp;13,217</strong></p>
    <p><br></p>
    <p>
        &nbsp;As you review my offer,<strong>
            &nbsp;please&nbsp;keep in mind that I will cover all outstanding back taxes,
            if any, as well as&nbsp;100% of the closing costs
        </strong>, including title insurance, recording fees, document
        courier charges, notary fees, etc.&nbsp;There are no hidden fees for you &#147;the Seller.&#148; Furthermore, I will pay you
        cash and close quickly.&nbsp;
    </p>
    <p><br></p>
    <p>
        &nbsp;We strive to make the sale process very easy for our customers. You simply need to sign the attached
        Sale&nbsp;Agreement and fax or mail back to me&nbsp;We will forward the agreement to a Title Company or Closing
        Attorney,&nbsp;or an unrelated title company, and they will process the sale and mail you a check&nbsp;
    </p>
    <p><br></p>
    <p>&nbsp;Sincerely,&nbsp;</p>
    <p><br></p>
    <p>&nbsp;<span class="ql-size-large">&#171;Your Name&#187;&nbsp;</span></p>
    <p>&nbsp;&#171;Your company name&#187;&nbsp;</p>
    <p>&nbsp;&#171;Your title&#187;&nbsp;</p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p class="ql-align-center"><br></p>
    <p class="ql-align-center">INSTRUCTIONS FOR RETURNING AGREEMENT:</p>
    <p class="ql-align-center">
        <span class="ql-size-small">For the Fastest Way to get Cash choose Option 1!&nbsp;</span>
    </p>
    <p><br></p>
    <p>
        Option 1 : Upon signing, email the Sale Agreement to&nbsp;contact@fantlandgroup.com or fax to&nbsp;(855) 691-0424
    </p>
    <p>Option 2 : Mail to:&nbsp;&#171;Your CompanyName&#187;</p>
    <p> &#171;Your Company Address&#187;&nbsp;</p>
    <p><br></p>
    <p class="ql-align-center">&nbsp;<strong>SALE AGREEMENT FOR VACANT LAND</strong>&nbsp;</p>
    <p class="ql-align-right"><br></p>
    <p class="ql-align-right"><strong>&nbsp;DATE:</strong> 05/01/2021</p>
    <p><br></p>
    <p>&nbsp;<strong>SELLER/S:</strong>&nbsp;&nbsp;&#171;OwnerName_Formatted&#187;</p>
    <p class="ql-indent-2">&#171;MailAddress&#187; ,&#171;MUnitType&#187; &#171;MUnitNumber&#187;&nbsp;</p>
    <p class="ql-indent-2">&#171;MCity&#187;, &#171;MState&#187; &#171;MZip&#187;&nbsp;</p>
    <p><br></p>
    <p><strong>&nbsp;BUYER/S:</strong>&nbsp;&nbsp;&nbsp;&#171;Your CompanyName&#187;&nbsp;</p>
    <p class="ql-indent-2">&#171;Your Company Address&#187;&nbsp;</p>
    <p><br></p>
    <p><br></p>
    <p>&nbsp;The Seller/s and Buyer above agree to sell and buy on the terms and conditions specified below:&nbsp;</p>
    <p><br></p>
    <ol>
        <li>PARCEL NUMBER/COUNTY : 46044/ Kleberg County.</li>
        <li>
            PROPERTY ADDRESS/LEGAL DESCRIPTION : K T &amp; I CO, BLOCK 22, LOT PT 12-13,&nbsp;7.1428% UNDIVIDED INTEREST,
            ACRES 26.434.
        </li>
        <li>
            IMPROVEMENTS AND PERSONAL PROPERTY : The property includes all improvements, appurtenances, and
            personal&nbsp;&nbsp;property attached to, or upon, the above- described real estate.
        </li>
        <li>PURCHASE PRICE:13,217 (Net to Seller).</li>
        <li>CASH : Buyer agrees to pay cash for the Property with no financing contingency.</li>
        <li>
            CLOSING DATE : This contract will be closed, and the deed and possession delivered on or before 07/01/2021,
            unless the parties agree to another date in writing. Failure to close by said date will render the contract null
            and void and unenforceable. Buyer retains the right to cancel the purchase agreement at any time for any reason.
        </li>
        <li>
            CLOSING PROCEDURE COSTS : Buyer agrees to pay the customary closing costs and any outstanding property taxes,
            subject to Buyer&#146;s approval as set forth in Section 10. This sale will be closed by a third-party title company or
            Closing Attorney chosen by the Buyer.
        </li>
        <li>
            TITLE : Seller/s agrees to convey marketable title to the property free of all liens and encumbrances by
            Warranty Deed to be prepared by the title company.
        </li>
        <li>
            ASSIGNMENT/RIGHTS : Buyer has the right to assign its rights under this contract to a&nbsp;third party. Upon
            acceptance of this offer, Buyer is given limited power of attorney to market the real property and list it on the
            MLS.
        </li>
        <li>CONTINGENCIES : Buyer&#146;s obligation to close the transaction is contingent upon the&nbsp;</li>
    </ol>
    <p class="ql-indent-1">following:</p>
    <p class="ql-indent-2"> *Buyer&#146;s confirmation of parcel size and condition.&nbsp;</p>
    <p class="ql-indent-2">&nbsp;*The Property being free and clear of all encumbrances.&nbsp;</p>
    <p class="ql-indent-2">&nbsp;*Delivery of full possession of the property by Seller/s at Closing.&nbsp;</p>
    <p class="ql-indent-2">&nbsp;*Buyer&#146;s written approval of the amount of property taxes owed on the property.&nbsp;</p>
    <p><br></p>
    <p><br></p>
    <p>
        &nbsp;If you agree to the stated terms of this contract offer, fill in the portions below including the
        signatures&nbsp;
    </p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p>
        &nbsp;and contact information of ALL OWNERS of the property, and return a copy of the accepted offer
        to&nbsp;Buyer.&nbsp;
    </p>
    <p><br></p>
    <p><br></p>
    <p>
        &nbsp;SELLER/S Signature______________________ Date_______________ Email_______________________
        Phone#___________________
    </p>
    <p><br></p>
    <p>&nbsp;BUYER&nbsp;</p>
    <p><br></p>
    <p>&nbsp;Signature______________________ Date_______________&nbsp;</p>