<html>
<head>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 22.2px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0"></div>
<div class="pos" id="_25:26" style="top:26;left:25">
<span id="_16.0" style="font-weight:bold; font-family:Garamond; font-size:16.0px; color:#000000">
FANT LAND GROUP LLC</span>
</div>
<div class="pos" id="_25:45" style="top:45;left:25">
<span id="_16.0" style="font-weight:bold; font-family:Garamond; font-size:16.0px; color:#000000">
2617 Bissonnet St. #430</span>
</div>
<div class="pos" id="_25:64" style="top:64;left:25">
<span id="_16.0" style="font-weight:bold; font-family:Garamond; font-size:16.0px; color:#000000">
Houston, TX 77005</span>
</div>
<div class="pos" id="_400:191" style="top:191;left:400">
<span id="_16.0" style="font-weight:bold; font-family:Garamond; font-size:16.0px; color:#000000">
&#171;OwnerNames&#187;</span>
</div>
<div class="pos" id="_400:210" style="top:210;left:400">
<span id="_16.0" style="font-weight:bold; font-family:Garamond; font-size:16.0px; color:#4c483d">
&#171;MailAddress&#187;, &#171;MUnitType&#187; &#171;MUnitNumber&#187;</span>
</div>
<div class="pos" id="_400:229" style="top:229;left:400">
<span id="_16.0" style="font-weight:bold; font-family:Garamond; font-size:16.0px; color:#4c483d">
&#171;MCity&#187;, &#171;MState&#187; &#171;MZip&#187;</span>
</div>
</nowrap></nobr>
</body>
</html>
