<p class="ql-align-right"> <span style="color: rgb(0, 0, 0);"> &#171;Your CompanyName&#187;</span></p>
<p class="ql-align-right"><span style="color: rgb(0, 0, 0);"> &#171;Your Company Address&#187;</span></p>
<p class="ql-align-right"><span style="color: rgb(0, 0, 0);"> &#171;Your Company Email&#187;</span></p>
<p class="ql-align-right"><span style="color: rgb(0, 0, 0);"> &#171;Your Company Phone&#187;</span></p>
<p class="ql-align-right"><span style="color: rgb(0, 0, 0);"> &#171;Your company Fax&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;OwnerName_Formatted&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;MailAddress&#187; ,&#171;MUnitType&#187; &#171;MUnitNumber&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;MCity&#187;, &#171;MState&#187; &#171;MZip&#187; </span></p>
<p><span style="color: rgb(0, 0, 0);">Dear &#171;OwnerName_Formatted&#187;:</span></p>
<p><span style="color: rgb(0, 0, 0);">A few weeks ago I wrote to you with an offer to purchase your property in &#171;CountyName&#187; County, &#171;PState&#187;. Unfortunately, due to a mistake in our        system I sent you the wrong offer and would like to apologize for this. </span></p>
<p><br></p>
<p><span style="color: rgb(0, 0, 0);">If you are still interested in selling your property, I have included in this letter the new corrected offer amount. I have also attached the Formal </span></p>
<p><span style="color: rgb(0, 0, 0);">Sale Agreement for you to complete and mail back to me. As you review my offer, </span><strong style="color: rgb(0, 0, 0);"> please</strong><span style="color: rgb(0, 0, 0);"> </span><strong style="color: rgb(0, 0, 0);"> keep in mind that I will cover all outstanding back </strong></p>
<p><strong style="color: rgb(0, 0, 0);">taxes, if any, as well as 100% of the closing costs , including title insurance, recording </strong><span style="color: rgb(0, 0, 0);">fees, document courier charges, notary fees, etc. There are no hidden fees for you &quot;the Seller.&quot; Furthermore, I will pay you cash and close quickly. </span></p>
<p><br></p>
<p><span style="color: rgb(0, 0, 0);">We strive to make the sale process very easy for our customers. You simply need to sign the attached Sale Agreement and fax or mail back to me  We will forward the agreement to a Title Company or Closing Attorney, or an unrelated title company, and they will process the sale and mail you a check.</span></p>
<p><br></p>
<p><span style="color: rgb(0, 0, 0);">Sincerely,</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;Your Name&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;Your company name&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;Your title&#187;</span></p>
<p><br></p>
<p><strong style="color: rgb(0, 0, 0);">SALE AGREEMENT FOR VACANT LAND</strong></p>
<p><br></p>
<p><strong style="color: rgb(0, 0, 0);">DATE:</strong></p>
<p><span style="color: rgb(0, 0, 0);">04/01/2021</span></p>
<p><strong style="color: rgb(0, 0, 0);">SELLER :</strong></p>
<p><span style="color: rgb(0, 0, 0);">&#171;OwnerName_Formatted&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;MailAddress&#187; ,&#171;MUnitType&#187; &#171;MUnitNumber&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;MCity&#187;, &#171;MState&#187; &#171;MZip&#187;</span></p>
<p><br></p>
<p><strong style="color: rgb(0, 0, 0);">BUYER:</strong></p>
<p><span style="color: rgb(0, 0, 0);">&#171;Your CompanyName&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;Your Company Address&#187;</span></p>
<p><br></p>
<p><span style="color: rgb(0, 0, 0);">The Seller and Buyer, above agree to sell and buy on the terms and conditions specified below, the property situated in the County of &#171;CountyName&#187;, State of North Carolina described as:</span></p>
<p><span style="color: rgb(0, 0, 0);">Assessor&#39;s Parcel Number: </span><strong style="color: rgb(0, 77, 131);"> &#171;Property APN&#187;</strong></p> 
<ol>
    <li><strong style="color: rgb(0, 0, 0);">PURCHASE PRICE: $&#171;Amount&#187; (Net to Seller), payable by Buyer in U.S. funds. All </strong><span style="color: rgb(0, 0, 0);">funds paid at closing must be paid by cashier&#39;s check or wire transfer. </span></li>
    <li><strong style="color: rgb(0, 0, 0);">CASH: Buyer will pay cash for the Property with no financing contingency.</strong></li>
    <li><strong style="color: rgb(0, 0, 0);">CLOSING DATE; OCCUPANCY: This contract will be closed, and the deed and </strong><span style="color: rgb(0, 0, 0);">possession delivered on or before 06/20/2021 unless extended by other provisions of this contract. Failure to close by said date will render the contract null and void and unenforceable. Buyer retains the right to cancel sale agreement any time for any reason.</span></li>
    <li><strong style="color: rgb(0, 0, 0);">CLOSING PROCEDURE; COSTS: </strong>
        <ol style="list-style-type: lower-alpha;">
            <li>Buyer will pay all costs of escrow, taxes, recording fees, and title insurance policy to said property.</li>
            <li>This sale will be closed by<strong style="color: rgb(0, 0, 0);"> Closing Attorney </strong></li>
            <li>Buyer has the right to market property in any way.</li>
        </ol>
    </li>
    <li><strong style="color: rgb(0, 0, 0);">TITLE: Seller will convey marketable title to the property by statutory Warranty/Grant </strong><span style="color: rgb(0, 0, 0);">Deed or Trustee, Personal Representative, or Guardian Deed as appropriate to the Seller&#39;s status, being free of all liens and encumbrances of record, except for unpaid taxes.</span></li>
    <li><strong style="color: rgb(0, 0, 0);">OFFER AND ACCEPTANCE:</strong><span style="color: rgb(0, 0, 0);"> </span><strong style="color: rgb(0, 0, 0);"> This offer shall automatically expire on 04/18/2021 at 5:00 pm CT  if not accepted within that time. This offer may only be accepted by </strong><span style="color: rgb(0, 0, 0);">Seller in writing if postmarked or faxed by above date. This agreement is binding on the heirs, administrators, executors, personal representatives, successors and assigns of Buyer and Seller. By signing below, each party accepts this offer.</span></li>
</ol>
<p><span style="color: rgb(0, 0, 0);">_______________________________________</span></p>
<p><span style="color: rgb(0, 0, 0);">__________________</span></p>
<p><span style="color: rgb(0, 0, 0);">&#171;OwnerName_Formatted&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);">Date</span></p>
<p><span style="color: rgb(0, 0, 0);">_______________________________________</span></p>
<p><span style="color: rgb(0, 0, 0);">__________________</span></p>
<p><span style="color: rgb(0, 0, 0);"> &#171;Your CompanyName&#187;</span></p>
<p><span style="color: rgb(0, 0, 0);"> Date</span></p>